

.modal, .modalActive {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0,0,0,0.2);

  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modalActive {
  opacity: 1;
  pointer-events: all;
}

.modalContent, .modalContentActive {
  padding: 20px;
  border-radius: 12px;
  background-color: var(--white);
  font-size: 20px;
  transform: scale(0.5);
  transition: 0.4s all;

  li {
    line-height: 1em;
  }

  button {
    display: block;
    margin: 10px auto 0 auto;
    padding: 5px;
    border-radius: 6px;
  }
}

.modalContentActive {
  transform: scale(1);
}

.modalBtn {
  display: flex;
}

.modalChangeBtn {
  background-color: #9a9ba1;
}

.modalResetBtn {
  background-color: var(--green-light);
}
